.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.header.img {
  width: 42px;
  height: 42px;
}
.footer.img {
  width: 42px;
  height: 42px;
}

#navmenu{
  width: 20%;
  float: left;
  font-size: 8;
}
#windows{
  width: 80%;
  float: right;
}

.Logo{
  float: left;
  width: 30%;

}
#legend{
  font-size: xx-small;
}
.NumNam{
  float: right;
  width: 70%;

}
